body {
    background-color: #333; /* cinza escuro */
    font-family: Arial, Helvetica, sans-serif;
    color: #fff; /* branco */
    font-size: 16px; /* tamanho de fonte padrão */
  }
  
  h1 {
    color: #00698f; /* azul escuro */
    font-size: 24px; /* tamanho de fonte maior para títulos */
  }
  
  .texto-1 strong, .texto-2 strong {
    color: #7a288a; /* roxo mais vibrante */
  }
  
  .link a {
    text-decoration: none;
    color: #fff; /* branco */
    transition: color 0.2s ease; /* efeito de transição para links */
  }
  
  .link a:hover {
    color: #00698f; /* azul escuro ao passar o mouse */
  }
  
  .link button {
    background-color: #4CAF50; /* verde mais vibrante */
    border-radius: 5px;
    width: 10em;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* sombra para botões */
  }